'''ใบอนุญาตประกอบวิชาชีพ''' เป็นใบอนุญาตให้สามารถประกอบวิชาชีพนั้น ๆ ตามสาขาที่เรียนมา โดยผู้ที่จะได้รับใบอนุญาตประกอบวิชาชีพจะต้องมีคุณสมบัติตามที่องค์กรออกใบอนุญาตประกอบวิชาชีพกำหนดไว้ ผู้ที่ไม่มีใบอนุญาตประกอบวิชาชีพจะไม่สามารถประกอบวิชาชีพนั้น ๆ ได้ ถ้าฝ่าฝืนจะมีโทษตามที่องค์กรวิชาชีพแต่ล่ะองค์กรกำหนดไว้

== ใบอนุญาตประกอบวิชาชีพในประเทศไทย ==
ปัจจุบัน มีวิชาชีพที่ต้องมีใบอนุญาตเพื่อประกอบวิชาชีพ ดังนี้
* [[ใบอนุญาตประกอบโรคศิลปะ]] ออกโดย [[กองสถานพยาบาลและการประกอบโรคศิลปะ]]<ref>[https://mrd.hss.moph.go.th กองสถานพยาบาลและการประกอบโรคศิลปะ]</ref>
* [[ใบอนุญาตประกอบวิชาชีพเวชกรรม]] ออกโดย [[แพทยสภา]] <ref> [http://www.tmc.or.th/ แพทยสภา] </ref>
* [[ใบอนุญาตประกอบวิชาชีพทันตกรรม]] ออกโดย [[ทันตแพทยสภา]]<ref>[http://www.dentalcouncil.or.th/ ทันตแพทยสภา]</ref>
* [[ใบอนุญาตประกอบวิชาชีพการสัตวแพทย์]] ออกโดย [[สัตวแพทยสภา]]<ref> [http://www.vetcouncil.or.th/ สัตวแพทยสภา]</ref>
* [[ใบอนุญาตประกอบวิชาชีพเภสัชกรรม]] ออกโดย  [[สภาเภสัชกรรม]]<ref> [http://www.pharmacycouncil.org/ สภาเภสัชกรรม]</ref>
* [[ใบอนุญาตประกอบวิชาชีพการพยาบาลและการผดุงครรภ์]] ออกโดย [[สภาการพยาบาล]]<ref>[https://www.tnmc.or.th สภาการพยาบาล]</ref>
* [[ใบอนุญาตประกอบวิชาชีพเทคนิคการแพทย์]] ออกโดย [[สภาเทคนิคการแพทย์]]<ref>[http://www.mtcouncil.org/ สภาเทคนิคการแพทย์]</ref>
* [[ใบอนุญาตประกอบวิชาชีพกายภาพบำบัด]] ออกโดย[[ สภากายภาพบำบัด]]<ref>[https://www.pt.or.th สภากายภาพบำบัด]</ref>
* [[ใบอนุญาตผู้ประกอบวิชาชีพการแพทย์แผนไทย]] ออกโดย [[ สภาการแพทย์แผนไทย]]<ref> [http://www.thaimed.or.th/ สภาการแพทย์แผนไทย] </ref>
* [[ใบอนุญาตผู้ประกอบวิชาชีพการแพทย์แผนไทยประยุกต์]] ออกโดย สภาการแพทย์แผนไทย
*ใบอนุญาตประกอบวิชาชีพการสาธารณสุขชุมชน ออกโดย [[สภาการสาธารณสุขชุมชน]]<ref>[https://www.ccph.or.th สภาการสาธารณสุขชุมชน]</ref>
* [[ใบอนุญาตให้เป็นทนายความ]] ออกโดย [[สภาทนายความ (ประเทศไทย)|สภาทนายความ]] <ref> [http://www.lawyerscouncil.or.th/ สภาทนายความ] </ref>
* [[ใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุม]] ออกโดย [[สภาวิศวกร]]<ref>[https://www.coe.or.th สภาวิศวกร]</ref>
* [[ใบอนุญาตประกอบวิชาชีพสถาปัตยกรรม]] ออกโดย [[สภาสถาปนิก]] <ref>[https://www.act.or.th สภาสถาปนิก]</ref>
* [[ใบอนุญาตประกอบวิชาชีพทางการศึกษา]] ออกโดย [[คุรุสภา]]<ref>{{Cite web |url=http://www.ksp.or.th/ |title=คุรุสภา |access-date=2006-08-13 |archive-date=2006-08-13 |archive-url=https://web.archive.org/web/20060813105152/http://www.ksp.or.th/ |url-status=dead }}</ref>
* [[ใบอนุญาตประกอบวิชาชีพวิทยาศาสตร์และเทคโนโลยีควบคุม]] ออกโดย [[สภาวิชาชีพวิทยาศาสตร์และเทคโนโลยี]]<ref>[http://www.cstp.or.th สภาวิชาชีพวิทยาศาสตร์และเทคโนโลยี]</ref>
* [[ใบอนุญาตประกอบวิชาชีพบัญชี]] ออกโดย [[สภาวิชาชีพบัญชี ในพระบรมราชูปถัมภ์]]<ref>[https://www.tfac.or.th สภาวิชาชีพบัญชี ในพระบรมราชูปถัมภ์]</ref>
* [[ใบอนุญาตประกอบวิชาชีพสอบบัญชี]] ออกโดย [[สภาวิชาชีพบัญชี ในพระบรมราชูปถัมภ์]]
*[[ใบประกอบวิชาชีพสังคมสงเคราะห์]] ออกโดย [[สภาวิชาชีพสังคมสงเคราะห์]]<ref>{{Cite web |url=https://www.swpc.or.th/ |title=สภาวิชาชีพสังคมสงเคราะห์ |access-date=2022-08-29 |archive-date=2022-08-29 |archive-url=https://web.archive.org/web/20220829113821/https://swpc.or.th/ |url-status=dead }}</ref>
* ใบอนุญาตวิชาชีพพนักงานรักษาความปลอดภัย สำนักงานตำรวจแห่งชาติ 
* ใบอนุญาตขับขี่สาธารณะ

== อ้างอิง ==
{{รายการอ้างอิง}}{{ใบอนุญาตประกอบวิชาชีพของไทย}}

{{เรียงลำดับ|ประกอบวิชาชีพ}}
[[หมวดหมู่:ใบอนุญาต]]
