'''ใบอนุญาตประกอบวิชาชีพ''' เป็นใบอนุญาตให้สามารถประกอบวิชาชีพนั้น ๆ ตามสาขาที่เรียนมา โดยผู้ที่จะได้รับใบอนุญาตประกอบวิชาชีพจะต้องมีคุณสมบัติตามที่องค์กรออกใบอนุญาตประกอบวิชาชีพกำหนดไว้ ผู้ที่ไม่มีใบอนุญาตประกอบวิชาชีพจะไม่สามารถประกอบวิชาชีพนั้น ๆ ได้ ถ้าฝ่าฝืนจะมีโทษตามที่องค์กรวิชาชีพแต่ล่ะองค์กรกำหนดไว้

== ใบอนุญาตประกอบวิชาชีพในประเทศไทย ==
ปัจจุบัน มีวิชาชีพที่ต้องมีใบอนุญาตเพื่อประกอบวิชาชีพ ดังนี้
* [[ใบอนุญาตประกอบโรคศิลปะ]] ออกโดย [[กองสถานพยาบาลและการประกอบโรคศิลปะ]]<ref>[https://mrd.hss.moph.go.th กองสถานพยาบาลและการประกอบโรคศิลปะ]</ref>
* [[ใบอนุญาตประกอบวิชาชีพเวชกรรม]] ออกโดย [[แพทยสภา]] <ref> [http://www.tmc.or.th/ แพทยสภา] </ref>
* [[ใบอนุญาตประกอบวิชาชีพทันตกรรม]] ออกโดย [[ทันตแพทยสภา]]<ref>[http://www.dentalcouncil.or.th/ ทันตแพทยสภา]</ref>
* [[ใบอนุญาตประกอบวิชาชีพการสัตวแพทย์]] ออกโดย [[สัตวแพทยสภา]]<ref> [http://www.vetcouncil.or.th/ สัตวแพทยสภา]</ref>
* [[ใบอนุญาตประกอบวิชาชีพเภสัชกรรม]] ออกโดย  [[สภาเภสัชกรรม]]<ref> [http://www.pharmacycouncil.org/ สภาเภสัชกรรม]</ref>
* [[ใบอนุญาตประกอบวิชาชีพการพยาบาลและการผดุงครรภ์]] ออกโดย [[สภาการพยาบาล]]<ref>[https://www.tnmc.or.th สภาการพยาบาล]</ref>
* [[ใบอนุญาตประกอบวิชาชีพเทคนิคการแพทย์]] ออกโดย [[สภาเทคนิคการแพทย์]]<ref>[http://www.mtcouncil.org/ สภาเทคนิคการแพทย์]</ref>
* [[ใบอนุญาตประกอบวิชาชีพกายภาพบำบัด]] ออกโดย[[ สภากายภาพบำบัด]]<ref>[https://www.pt.or.th สภากายภาพบำบัด]</ref>
* [[ใบอนุญาตผู้ประกอบวิชาชีพการแพทย์แผนไทย]] ออกโดย [[ สภาการแพทย์แผนไทย]]<ref> [http://www.thaimed.or.th/ สภาการแพทย์แผนไทย] </ref>
* [[ใบอนุญาตผู้ประกอบวิชาชีพการแพทย์แผนไทยประยุกต์]] ออกโดย สภาการแพทย์แผนไทย
*ใบอนุญาตประกอบวิชาชีพการสาธารณสุขชุมชน ออกโดย [[สภาการสาธารณสุขชุมชน]]<ref>[https://www.ccph.or.th สภาการสาธารณสุขชุมชน]</ref>
* [[ใบอนุญาตให้เป็นทนายความ]] ออกโดย [[สภาทนายความ (ประเทศไทย)|สภาทนายความ]] <ref> [http://www.lawyerscouncil.or.th/ สภาทนายความ] </ref>
* [[ใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุม]] ออกโดย [[สภาวิศวกร]]<ref>[https://www.coe.or.th สภาวิศวกร]</ref>
* [[ใบอนุญาตประกอบวิชาชีพสถาปัตยกรรม]] ออกโดย [[สภาสถาปนิก]] <ref>[https://www.act.or.th สภาสถาปนิก]</ref>
* [[ใบอนุญาตประกอบวิชาชีพทางการศึกษา]] ออกโดย [[คุรุสภา]]<ref>{{Cite web |url=http://www.ksp.or.th/ |title=คุรุสภา |access-date=2006-08-13 |archive-date=2006-08-13 |archive-url=https://web.archive.org/web/20060813105152/http://www.ksp.or.th/ |url-status=dead }}</ref>
* [[ใบอนุญาตประกอบวิชาชีพวิทยาศาสตร์และเทคโนโลยีควบคุม]] ออกโดย [[สภาวิชาชีพวิทยาศาสตร์และเทคโนโลยี]]<ref>[http://www.cstp.or.th สภาวิชาชีพวิทยาศาสตร์และเทคโนโลยี]</ref>
* [[ใบอนุญาตประกอบวิชาชีพบัญชี]] ออกโดย [[สภาวิชาชีพบัญชี ในพระบรมราชูปถัมภ์]]<ref>[https://www.tfac.or.th สภาวิชาชีพบัญชี ในพระบรมราชูปถัมภ์]</ref>
* [[ใบอนุญาตประกอบวิชาชีพสอบบัญชี]] ออกโดย [[สภาวิชาชีพบัญชี ในพระบรมราชูปถัมภ์]]
*[[ใบประกอบวิชาชีพสังคมสงเคราะห์]] ออกโดย [[สภาวิชาชีพสังคมสงเคราะห์]]<ref>{{Cite web |url=https://www.swpc.or.th/ |title=สภาวิชาชีพสังคมสงเคราะห์ |access-date=2022-08-29 |archive-date=2022-08-29 |archive-url=https://web.archive.org/web/20220829113821/https://swpc.or.th/ |url-status=dead }}</ref>
* ใบอนุญาตวิชาชีพพนักงานรักษาความปลอดภัย สำนักงานตำรวจแห่งชาติ 
* ใบอนุญาตขับขี่สาธารณะ

== อ้างอิง ==
{{รายการอ้างอิง}}{{ใบอนุญาตประกอบวิชาชีพของไทย}}

{{เรียงลำดับ|ประกอบวิชาชีพ}}
[[หมวดหมู่:ใบอนุญาต]]
ป.ตรี บริหารจัดการ บริหารศาสตร์ 6623540132
{{บทความหลัก|มหาวิทยาลัยเฉลิมกาญจนา}}
{{กล่องข้อมูล มหาวิทยาลัย
| ภาพ = [[ไฟล์:CNU.png|180px]]
| ชื่อ = มหาวิทยาลัยเฉลิมกาญจนา<br>วิทยาเขตเพชรบูรณ์
| ชื่ออังกฤษ = Chalermkarnchana University<br>Phetchabun
| ชื่อย่อ = มฉน.พ. / CNUP
| คำขวัญ = สร้างความเป็นเลิศสู่อนาคต
| established = {{วันเกิดและอายุ|2547|9|7}}
| ประเภท = [[วิทยาเขต|วิทยาเขตของมหาวิทยาลัยเฉลิมกาญจนา]]
| รองอธิการบดี = 
| เว็บไซต์ = [https://sites.google.com/site/admissioncnu/ www.sites.google.com/site/admissioncnu/] 
| colours = <span style="color:Red">██</span><span style="color:white">██</span><span style="color:blue">██</span> [[สีแดง]] [[สีขาว]] [[สีน้ำเงิน]]
| ที่ตั้ง = เลขที่ 333 หมู่ 8 ตำบลบ้านโตก [[อำเภอเมืองเพชรบูรณ์]] [[จังหวัดเพชรบูรณ์]]  67000
}}

'''มหาวิทยาลัยเฉลิมกาญจนา วิทยาเขตเพชรบูรณ์'''  ({{langx|en|Chalermkarnchana University Phetchabun Campus}}) มีสถานะเป็น1ใน4ศูนย์การศึกษาของ[[มหาวิทยาลัยเฉลิมกาญจนา]]

== ประวัติ ==
[[มหาวิทยาลัยเฉลิมกาญจนา]] ก่อตั้งขึ้นเมื่อวันที่ 7 กันยายน พ.ศ. 2547 ตั้งอยู่ที่ ตำบลโพธิ์ [[อำเภอเมืองศรีสะเกษ]] [[จังหวัดศรีสะเกษ]] ดำเนินการบริหารโดย ศาสตราจารย์ ดร.[[วิจิตร  ศรีสอ้าน]]เป็นนายกสภามหาวิทยาลัย ดร.สุชีราภรณ์  ธุวานนท์ เป็นผู้รับใบอนุญาต และอธิการบดี เปิดดำเนินการสอนตั้งแต่ปี พ.ศ. 2547 ในชื่อ '''วิทยาลัยเฉลิมกาญจนา''' จนถึงปัจจุบัน มีสถานที่ตั้งในภูมิภาค 4 จังหวัดได้แก่[[จังหวัดนครศรีธรรมราช]] [[จังหวัดสุรินทร์]] [[จังหวัดบุรีรัมย์]] และ[[จังหวัดเพชรบูรณ์]]<ref>{{Cite web |url=https://sites.google.com/site/admissioncnu/keiyw-kab-mhawithyalay |title=เกี่ยวกับมหาวิทยาลัย มหาวิทยาลัยเฉลิมกาญจนา |access-date=2016-07-16 |archive-date=2020-10-15 |archive-url=https://web.archive.org/web/20201015210546/https://sites.google.com/site/admissioncnu/keiyw-kab-mhawithyalay |url-status=dead }}</ref>

สำหรับศูนย์เพชรบูรณ์ ก่อตั้งขึ้นเมื่อ พ.ศ. 2554 โดยมีดร.ดิเรก ถึงฝั่ง ผู้ว่าราการจังหวัดเพชรบูรณ์ในขณะนั้นมาเป็นประธานในพิธีเปิดวิทยาลัย โดยใช้ชื่อว่า '''วิทยาลัยเฉลิมกาญจนาเพชรบูรณ์''' ต่อมาเมื่อพ.ศ. 2557 วิทยาลัยเฉลิมกาญจนา ได้รับการยกฐานะขึ้นเป็น มหาวิทยาลัยเฉลิมกาญจนา วิทยาลัยเฉลิมกาญจนาเพชรบูรณ์ จึงยกฐานะขึ้นเป็น มหาวิทยาลัยเฉลิมกาญจนา เพชรบูรณ์

== คณะและหลักสูตร ==
* หลักสูตรที่เปิดสอนในวิทยาเขตเพชรบูรณ์ได้แก่
คณะสาธารณสุขศาสตร์
::หลักสูตรวิทยาศาสตรบัณฑิต
:::สาขาสาธารณสุขศาสตร์ 

คณะรัฐศาสตร์
::หลักสูตรรัฐศาสตรบัณฑิต
:::สาขาการปกครองท้องถิ่น

คณะบริหารศาสตร์
::หลักสูตรบริหารธุรกิจบัณฑิต
:::สาขาเทคโนโลยีสารสนเทศ
:::สาขาคอมพิวเตอร์ธุรกิจ
:::สาขาบัญชี
:::สาขาการจัดการ

== อ้างอิง ==
{{รายการอ้างอิง}}

== แหล่งข้อมูลอื่น ==
* [http://www.cnu.ac.th มหาวิทยาลัยเฉลิมกาญจนา] 
{{สถาบันอุดมศึกษา/เฉลิมกาญจนา}}
{{สถาบันอุดมศึกษาในจังหวัดเพชรบูรณ์}}

[[หมวดหมู่:มหาวิทยาลัยเฉลิมกาญจนา]]
[[หมวดหมู่:สถาบันอุดมศึกษาในจังหวัดเพชรบูรณ์|ฉ]]
[[หมวดหมู่:สถานศึกษาในอำเภอเมืองเพชรบูรณ์]]
